<h1>Creating</h1>
<h1>King Midas and his touch</h1>

<p>
King Midas <span class="thumbs"><img src='<%= @midas[0].url %>'></span> was a crystal king who had the talent to create blue sky crystals which would make him lots of gold. It was said that he had the ultimate crystal that could have him acquire more gold than any other king in the world. He loved his little daughter <span class="thumbs"><img src='<%= @daughter[0].url %>'></span> and it was she that inspired him to create the best blue sky so he may provide for his family. A fairy<span class="thumbs"><img src='<%= @fairy[0].url %>'></span> came and told him he can help him spread more blue sky to the world and his family can have all the <span class="thumbs"><img src='<%= @gold[0].url %>'></span> in the world. 
</p>

<%= link_to("Home", {:action => 'index'}, :class => 'action index') %>
